/* reset styles*/
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-width: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background: #d8e1ff;
    font-family: 'Gotham Pro';
    background: #1c59d1 url(https://static.schools.by/images/header-bg/img-18.jpg) no-repeat center top;
}


img,
picture {
    max-width: 100%;
    display: block;
}

input,
button, 
textarea, 
select {
    font: inherit;
}

/* reset styles*/

/*.container {
}*/

.headerdiv {
    width: 1920px;
    height: 65px;
    background: #2848ff;
}

.mainlogo {
position: absolute;
width: 129px;
height: 32px;
left: 330px;
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 65px;
color: #fff;
text-decoration: none;
}

.mw {
    overflow: hidden;
    padding-left: 850px;
    padding-top: 5px;
    
}

.mw a {
float: left;
color: #ffffff;
text-align: center;
padding: 14px 70px;
text-decoration: none;
font-size: 17px;
display: block;
} 

.mw a:hover {
background-color: #ddd;
color: black;
border-radius: 15px;
}

.reg {
    overflow: hidden;
}

.reg a {
    float: left;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    display: block;
    } 
    
    .reg a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 15px;
    }

.secdiv{ 
    background: #5872e9;
    height: 80px;
    opacity: 80%;
}

.imagef {
    margin-left: 330px;
    width: 220px;
}

.secdivwr {
    padding-left: 730px;
    
}

.main_info {
    margin-left: 300px;
    margin-top: 10px;
    border: 1.5px solid;
    box-shadow: 0px 0px 5px 0px ;
    padding: 10px 10px 10px 12px;
    border-radius: 5px;
    width: 755px;
}

dd{
    margin-left: 205px;
    margin-top: -23px;
}

hr {
    width: 735px;
}

.maindiv {
    width: 1320px;
    margin-left: 300px;
    height: 1000px;
    background: #fdfdfd;
    padding-top: 1px;
    margin-top: 100px;
    border-radius: 8px;
}

.t1 {
    width: 200px;
    height: 200px;
    background: #353535;
    margin-left: 500px;
    margin-top: 100px;
}

.mainsc_column {
    font-size: 12px;
    margin-top: -130px;
    width: 200px;
    height: 150px;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    border: 1px solid #fff;
    font-family: inherit;
    font-size: inherit;
    list-style: none;
    color: #006db9;
    border-top: 1px solid #FFF;
    background: #F3F5FF;
    margin-left: 30px;
    padding: 5px;
    box-shadow: 0px 0px 3px 0px ;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
}

.mainsc_column a{
    color: #0057DA;
    padding-right: 17px;
    padding: 2px 2px 5px 2px;
    display: block;
}

.d1 {
    color: #006db9;
    border-top: 1px solid #FFF;
    background: #F3F5FF;
    margin-left: 0px;
    padding: 3px;
    box-shadow: 0px 0px 2px 0px ;
}

.d2 {
    color: #006db9;
    border-top: 1px solid #FFF;
    background: #F3F5FF;
    margin-left: 0px;
    padding: 3px; 
    margin-top: 10px;
    box-shadow: 0px 0px 2px 0px ;
}

.d3 {
    color: #006db9;
    border-top: 1px solid #FFF;
    background: #F3F5FF;
    margin-left: 0px;
    padding: 3px;
    margin-top: 10px;
    box-shadow: 0px 0px 2px 0px ;
}

h1 {
    padding-left: 250px;
    padding-bottom: 580px;
}

.sch_news_item {
    margin-left: 150px;
    margin-top: -560px;
} 

.sch_news_item2 {
    margin-top: 20px;
}

.sch_news_item3 {
    margin-top: 20px;
}

.dw {
    margin-top: 500px;
    width: auto;
}

.footer_menu ul {
    overflow: hidden;
    display: inline-block;
    margin-left: 500px;
    position: relative;
}

.footer_menu li {
    float: left;
    margin: 0 10px;
}

#footer .sep {
    width: 1px;
    height: 15px;
    background: #ccc;
    top: 2px;
}

